@import './partials/_reset.scss';

main {
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    color: steelblue;
    margin-bottom: 20px;
}

h2 {
    color: steelblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-file-upload {
    border: 1px solid black;
    background-color: #333333;
    color: white;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    &:hover {
        cursor: pointer;
    }
    input {
        display: none;
    }
}
